.lock
*.log
version.ini
.plugins/org.eclipse.core.resources/
.plugins/org.eclipse.e4.workbench/
.plugins/org.eclipse.e4.ui.workbench.swt/
.plugins/org.eclipse.egit.core/
.plugins/org.eclipse.jdt.*
.plugins/org.eclipse.oomph.setup.ui/
.plugins/org.eclipse.oomph.setup.editor/
.plugins/org.eclipse.oomph.workingsets.editor/
.plugins/org.eclipse.oomph.setup.projects/
.plugins/org.eclipse.tips.ide/
.plugins/org.eclipse.debug.*
.plugins/org.eclipse.pde.*
.plugins/org.eclipse.wildwebdeveloper.*
.plugins/org.eclipse.wst.*
.plugins/org.eclipse.xtend.ide/
.plugins/org.eclipse.xtext.*
.plugins/org.eclipse.ant.ui/
.plugins/org.eclipse.ltk.*
.plugins/org.eclipse.m2e.*
.plugins/org.eclipse.m2m.*
.plugins/org.eclipse.search/
.plugins/org.eclipse.ui.*
.plugins/org.eclipse.emf.*
.plugins/org.eclipse.equinox.p2.ui/
.plugins/org.eclipse.tm.terminal.view.ui/
.plugins/net.*
.plugins/org.eclipse.help.ui/
.plugins/org.eclipse.sirius.diagram.ui/
